.env
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
staticfiles/
.DS_Store
*.mo
.idea/
.vscode/
htmlcov/
.coverage
_tmp/
deploy/dumps/*.json
deploy/dumps/*.tar
deploy/dumps/*.tgz
deploy/dumps/*.gz
